<head>
    <link rel="stylesheet" href="../css/navbar.css">
</head>

<div class="col-sidebar-container col-auto col-2 px-sm-2 px-0 ms-2 bg-white mt-2">
    <div class="col-sidebar d-flex flex-column align-items-center align-items-sm-start mx-3 mt-4 pt-2 pb-5 h-100">
        <div
            class="title-group-sidebar d-flex align-items-center pb-2 mb-md-0 me-md-auto border-bottom border-dark-subtle">
            <img src="../img/lsu-star.png" alt="LSU Corporate Logo" class="w-25">
            <span class="title-logo-dashboard fw-bold">EVENT AND ATTENDANCE TRACKING WEBSITE</span>
        </div>

        <ul class="nav nav-pills flex-column mt-4 mb-sm-auto mb-0 align-items-center align-items-sm-start h-100">
            <li
                class="nav-item nav-item-title nav-item-dashboard ps-4 {{#if (eq currentPath '/dashboard')}}active{{/if}}">
                <a href="/dashboard" class="nav-link align-middle px-0">
                    <div class="d-flex align-items-center">
                        <div class="icon-container me-3">
                            {{#if (eq currentPath '/dashboard')}}
                            <img src="../img/dashboard-filled.png" alt="Dashboard Icon">
                            {{else}}
                            <img src="../img/dashboard.png" alt="Dashboard Icon">
                            {{/if}}
                        </div>
                        <div class="text-container flex-grow-1 pt-1">
                            <span class="title-link-sidebar fw-bold">DASHBOARD</span>
                        </div>
                    </div>
                </a>
            </li>

            <li class="nav-item nav-item-title nav-item-records ps-4 mt-3 
                {{#if (or (eq currentPath '/spr-main') (eq currentPath '/spr-edit'))}}active{{/if}}">
                <a href="/spr-main" class="nav-link align-middle px-0">
                    <div class="d-flex align-items-center">
                        <div class="icon-container me-3">
                            {{#if (or (eq currentPath '/spr-main') (eq currentPath '/spr-edit'))}}
                            <img src="../img/record-filled.png" alt="Records Icon">
                            {{else}}
                            <img src="../img/record.png" alt="Records Icon">
                            {{/if}}
                        </div>
                        <div class="text-container flex-grow-1 pt-1">
                            <span class="title-link-sidebar fw-bold">RECORDS</span>
                        </div>
                    </div>
                </a>
            </li>
            {{#if (eq isExtraOrgsTrue false)}}
            <li
                class="nav-item nav-item-title nav-item-add-student ps-4 mt-3 {{#if (eq currentPath '/add-student')}}active{{/if}}">
                <a href="/add-student" class="nav-link align-middle px-0">
                    <div class="d-flex align-items-center">
                        <div class="icon-container me-3">
                            {{#if (eq currentPath '/add-student')}}
                            <img src="../img/add-student-filled.png" alt="Add Student Icon">
                            {{else}}
                            <img src="../img/add-student.png" alt="Add Student Icon">
                            {{/if}}
                        </div>
                        <div class="text-container flex-grow-1 pt-1">
                            <span class="title-link-sidebar fw-bold">ADD STUDENT</span>
                        </div>
                    </div>
                </a>
            </li>
            {{/if}}

            {{#if isIBO}}
            <li
                class="nav-item nav-item-title nav-item-add-student ps-4 mt-3 {{#if (eq currentPath '/add-student-ibo')}}active{{/if}}">
                <a href="/add-student-ibo" class="nav-link align-middle px-0">
                    <div class="d-flex align-items-center">
                        <div class="icon-container me-3">
                            {{#if (eq currentPath '/add-student-ibo')}}
                            <img src="../img/add-student-filled.png" alt="Add Student Icon">
                            {{else}}
                            <img src="../img/add-student.png" alt="Add Student Icon">
                            {{/if}}
                        </div>
                        <div class="text-container flex-grow-1 pt-1">
                            <span class="title-link-sidebar fw-bold">ADD STUDENT</span>
                        </div>
                    </div>
                </a>
            </li>
            {{/if}}

            <li class="nav-item nav-item-title nav-item-list ps-4 mt-3 {{#if (eq currentPath '/list')}}active{{/if}}">
                <a href="/list" class="nav-link align-middle px-0">
                    <div class="d-flex align-items-center">
                        <div class="icon-container me-3">
                            {{#if (eq currentPath '/list')}}
                            <img src="../img/list-filled.png" alt="Student List Icon">
                            {{else}}
                            <img src="../img/list.png" alt="Student List Icon">
                            {{/if}}
                        </div>
                        <div class="text-container flex-grow-1 pt-1">
                            <span class="title-link-sidebar fw-bold">LIST</span>
                        </div>
                    </div>
                </a>
            </li>

            <li class="nav-item nav-item-title nav-item-register ps-4 mt-3">
                <a href="/register" class="nav-link align-middle px-0">
                    <div class="d-flex align-items-center">
                        <div class="icon-container me-3">
                            <img src="../img/register.png" alt="Register Icon">
                        </div>
                        <div class="text-container flex-grow-1 pt-1">
                            <span class="title-link-sidebar fw-bold">REGISTER</span>
                        </div>
                    </div>
                </a>
            </li>

            <li class="nav-item nav-item-title mt-auto ps-4">
                {{#if (or (eq currentPath '/spr-main') (eq currentPath '/spr-edit'))}}
                {{#if (eq currentPath '/spr-main')}}
                {{#unless isCSOorSAO}}
                <a href="/spr-edit?id={{student.id_number}}" class="nav-link align-middle px-0">
                    <div class="d-flex align-items-center">
                        <div class="icon-container me-3">
                            <img src="../img/edit-mode.png" alt="Edit Mode Icon">
                        </div>
                        <div class="text-container flex-grow-1 pt-1">
                            <span class="title-link-sidebar title-link-sidebar-dashboard fw-bold">EDIT MODE</span>
                        </div>
                    </div>
                </a>
                {{/unless}}
                {{else}}
                <a href="/spr-main?id={{student.id_number}}" class="nav-link align-middle px-0">
                    <div class="d-flex align-items-center">
                        <div class="icon-container me-3">
                            <img src="../img/edit-mode.png" alt="Edit Mode Icon">
                        </div>
                        <div class="text-container flex-grow-1 pt-1">
                            <span class="title-link-sidebar title-link-sidebar-dashboard fw-bold">EXIT EDIT MODE</span>
                        </div>
                    </div>
                </a>
                {{/if}}
                {{/if}}

                <a href="/logout" class="nav-link align-middle px-0">
                    <div class="d-flex align-items-center">
                        <div class="icon-container me-3">
                            <img src="../img/logout.png" alt="Logout Icon">
                        </div>
                        <div class="text-container flex-grow-1 pt-1">
                            <span class="title-link-sidebar title-link-sidebar-dashboard fw-bold">LOG OUT</span>
                        </div>
                    </div>
                </a>
            </li>
        </ul>
    </div>
</div>