<head>
    <link rel="stylesheet" href="../css/dashboard.css">
</head>

<div class="container-fluid">
    <div class="row flex-nowrap">
        {{> navbar}}

        <div class="col-9 mt-3">
            <div class="d-flex justify-content-between">
                <div class="col-lg-9 me-5">
                    {{> headerSearch}}
                    <div class="ms-3" style="width: 40rem;">
                        <div class="row border-bottom border-secondary">
                            <div class="col-auto">
                                <h1 class="mb-3">List of Students</h1>
                            </div>

                            <div class="col d-flex align-items-center justify-content-end px-0">
                                {{#if isUSGorCSOorSAO}}
                                <form action="/list" method="GET" id="filterForm" class="d-flex w-100">
                                    {{#if isUSGorSAO}}
                                    <select id="selectGroupListCollege"
                                        class="form-control list-dropdown border-secondary fw-bold pt-2"
                                        name="groupList">
                                        <option disabled="disabled" selected="selected">College</option>
                                        <option value="CAS" {{#if (eq selectedGroup "CAS" )}}selected{{/if}}>CAS
                                        </option>
                                        <option value="CBA" {{#if (eq selectedGroup "CBA" )}}selected{{/if}}>CBA
                                        </option>
                                        <option value="CCJE" {{#if (eq selectedGroup "CCJE" )}}selected{{/if}}>CCJE
                                        </option>
                                        <option value="CCSEA" {{#if (eq selectedGroup "CCSEA" )}}selected{{/if}}>CCSEA
                                        </option>
                                        <option value="CON" {{#if (eq selectedGroup "CON" )}}selected{{/if}}>CON
                                        </option>
                                        <option value="CTE" {{#if (eq selectedGroup "CTE" )}}selected{{/if}}>CTE
                                        </option>
                                        <option value="CTHM" {{#if (eq selectedGroup "CTHM" )}}selected{{/if}}>CTHM
                                        </option>
                                    </select>
                                    {{/if}}

                                    <select id="selectGroupListABO"
                                        class="form-control list-dropdown border-secondary mx-2 fw-bold"
                                        name="groupList">
                                        <option disabled="disabled" selected="selected">ABO</option>
                                        <optgroup label="CAS ABO">
                                            <option value="JSWAP" {{#if (eq selectedGroup "JSWAP" )}}selected{{/if}}>
                                                JSWAP
                                            </option>
                                            <option value="LABELS" {{#if (eq selectedGroup "LABELS" )}}selected{{/if}}>
                                                LABELS
                                            </option>
                                            <option value="LSUPS" {{#if (eq selectedGroup "LSUPS" )}}selected{{/if}}>
                                                LSUPS
                                            </option>
                                            <option value="POLISAYS" {{#if (eq selectedGroup "POLISAYS"
                                                )}}selected{{/if}}>POLISAYS
                                            </option>
                                        </optgroup>
                                        <optgroup label="CBA ABO">
                                            <option value="JFINEX" {{#if (eq selectedGroup "JFINEX" )}}selected{{/if}}>
                                                JFINEX
                                            </option>
                                            <option value="JMEX" {{#if (eq selectedGroup "JMEX" )}}selected{{/if}}>JMEX
                                            </option>
                                            <option value="JPIA" {{#if (eq selectedGroup "JPIA" )}}selected{{/if}}>JPIA
                                            </option>
                                        </optgroup>
                                        <optgroup label="CCSEA ABO">
                                            <option value="ALGES" {{#if (eq selectedGroup "ALGES" )}}selected{{/if}}>
                                                ALGES
                                            </option>
                                            <option value="ICpEP" {{#if (eq selectedGroup "ICpEP" )}}selected{{/if}}>
                                                ICpEP
                                            </option>
                                            <option value="IIEE" {{#if (eq selectedGroup "IIEE" )}}selected{{/if}}>IIEE
                                            </option>
                                            <option value="JIECEP" {{#if (eq selectedGroup "JIECEP" )}}selected{{/if}}>
                                                JIECEP
                                            </option>
                                            <option value="LISSA" {{#if (eq selectedGroup "LISSA" )}}selected{{/if}}>
                                                LISSA
                                            </option>
                                            <option value="PICE" {{#if (eq selectedGroup "PICE" )}}selected{{/if}}>PICE
                                            </option>
                                            <option value="SOURCE" {{#if (eq selectedGroup "SOURCE" )}}selected{{/if}}>
                                                SOURCE
                                            </option>
                                            <option value="UAPSA" {{#if (eq selectedGroup "UAPSA" )}}selected{{/if}}>
                                                UAPSA
                                            </option>
                                        </optgroup>
                                        <optgroup label="CTE ABO">
                                            <option value="ECC" {{#if (eq selectedGroup "ECC" )}}selected{{/if}}>ECC
                                            </option>
                                            <option value="GENTLE" {{#if (eq selectedGroup "GENTLE" )}}selected{{/if}}>
                                                GENTLE
                                            </option>
                                            <option value="GEM-O" {{#if (eq selectedGroup "GEM-O" )}}selected{{/if}}>
                                                GEM-O
                                            </option>
                                            <option value="LapitBayan" {{#if (eq selectedGroup "LapitBayan"
                                                )}}selected{{/if}}>LapitBayan
                                            </option>
                                            <option value="LME" {{#if (eq selectedGroup "LME" )}}selected{{/if}}>LME
                                            </option>
                                            <option value="SPEM" {{#if (eq selectedGroup "SPEM" )}}selected{{/if}}>SPEM
                                            </option>
                                            <option value="SSS" {{#if (eq selectedGroup "SSS" )}}selected{{/if}}>SSS
                                            </option>
                                        </optgroup>
                                        <optgroup label="CTHM ABO">
                                            <option value="FHARO" {{#if (eq selectedGroup "FHARO" )}}selected{{/if}}>
                                                FHARO
                                            </option>
                                            <option value="FTL" {{#if (eq selectedGroup "FTL" )}}selected{{/if}}>FTL
                                            </option>
                                            <option value="SOTE" {{#if (eq selectedGroup "SOTE" )}}selected{{/if}}>SOTE
                                            </option>
                                        </optgroup>
                                    </select>

                                    <select id="selectGroupListIBO"
                                        class="form-control list-dropdown border-secondary fw-bold pt-2"
                                        name="groupList">
                                        <option disabled="disabled" selected="selected">IBO</option>
                                        <option value="Compatriots" {{#if (eq selectedGroup "Compatriots"
                                            )}}selected{{/if}}>Compatriots
                                        </option>
                                        <option value="Cosplay Corps" {{#if (eq selectedGroup "Cosplay Corps"
                                            )}}selected{{/if}}>Cosplay Corps
                                        </option>
                                        <option value="Green Leaders" {{#if (eq selectedGroup "Green Leaders"
                                            )}}selected{{/if}}>Green Leaders
                                        </option>
                                        <option value="Kainos" {{#if (eq selectedGroup "Kainos" )}}selected{{/if}}>
                                            Kainos
                                        </option>
                                        <option value="Meeples" {{#if (eq selectedGroup "Meeples" )}}selected{{/if}}>
                                            Meeples
                                        </option>
                                        <option value="Micromantics" {{#if (eq selectedGroup "Micromantics"
                                            )}}selected{{/if}}>Micromantics
                                        </option>
                                        <option value="Red Cross Youth" {{#if (eq selectedGroup "Red Cross Youth"
                                            )}}selected{{/if}}>RCY
                                        </option>
                                        <option value="Soul Whisperers" {{#if (eq selectedGroup "Soul Whisperers"
                                            )}}selected{{/if}}>Soul Whisperers
                                        </option>
                                        <option value="Vanguard E-sports" {{#if (eq selectedGroup "Vanguard E-sports"
                                            )}}selected{{/if}}>Vanguard
                                        </option>
                                    </select>
                                </form>

                                {{else}}
                                <input type="text"
                                    class="form-control automatic-list-group border-secondary w-auto fw-bold text-center pt-2 px-0"
                                    id="inputGroupList" name="groupList" value="{{adminData.organization}}" readonly>
                                {{/if}}
                            </div>
                        </div>

                        <div class="row mt-3 d-flex align-items-center">
                            <div class="col d-flex align-items-center">
                                <img src="../img/document-filter.png" alt="Sort" class="ps-2" style="height: 20px;">
                                <select id="sortList" class="form-control sort-list border-0 fw-bold ps-3"
                                    name="sortList">
                                    <option value="" disabled selected>Sort By</option>
                                    <option value="Name" {{#if (eq selectedSort "Name" )}}selected{{/if}}>Sort By Name
                                    </option>
                                    <option value="ID Number" {{#if (eq selectedSort "ID Number" )}}selected{{/if}}>Sort
                                        By ID Number</option>
                                    <option value="Course" {{#if (eq selectedSort "Course" )}}selected{{/if}}>Sort By
                                        Course</option>
                                    <option value="Year" {{#if (eq selectedSort "Year" )}}selected{{/if}}>Sort By Year
                                    </option>
                                </select>
                            </div>
                            <div class="col d-flex justify-content-end px-0">
                                <form class="w-75" id="searchForm">
                                    <div class="input-group search-list-group border w-100">
                                        <input class="form-control border-0 search-list-field" type="search"
                                            aria-label="Search" id="searchInput">
                                        <span class="input-group-text border-0">
                                            <img src="../img/search.png" alt="Search">
                                        </span>
                                    </div>
                                </form>
                            </div>
                        </div>

                        <div class="row mt-4 ms-1 pb-2 fw-bold border-bottom border-secondary-subtle">
                            <div class="col-5 px-0">
                                <span>Name</span>
                            </div>
                            <div class="col-3 col-list-header-idnumber">
                                <span>ID Number</span>
                            </div>
                            <div class="col-3">
                                <span>Course</span>
                            </div>
                            <div class="col-1">
                                <span>Year</span>
                            </div>
                        </div>

                        <div class="row student-details-row ps-2">
                            {{#each selectedStudents}}
                            <div class="student-row d-flex" data-last-name="{{this.last_name}}"
                                data-first-name="{{this.first_name}}" data-id-number="{{this.id_number}}"
                                data-exemption-status="{{this.exemption_status}}"
                                data-active-status="{{this.active_status}}"
                                data-department-name="{{this.department_name}}" data-course-name="{{this.course_name}}"
                                data-year-level="{{this.year_level}}" data-abo-name="{{this.abo_name}}"
                                data-ibo-name="{{this.ibo_name}}">
                                <div class="col-5 p-0 ps-2">
                                    <p
                                        class="studentDetails m-0 py-1 w-100 {{#if (indexIsEven @index)}}row-even{{else}}row-odd{{/if}}">
                                        {{this.last_name}}, {{this.first_name}}
                                    </p>
                                </div>
                                <div class="col-3 p-0">
                                    <p
                                        class="studentDetails m-0 py-1 w-100 {{#if (indexIsEven @index)}}row-even{{else}}row-odd{{/if}}">
                                        {{this.id_number}}
                                    </p>
                                </div>
                                <div class="col-3 p-0">
                                    <p
                                        class="studentDetails m-0 py-1 w-100 {{#if (indexIsEven @index)}}row-even{{else}}row-odd{{/if}}">
                                        {{this.course_name}}
                                    </p>
                                </div>
                                <div class="col-1 p-0">
                                    <p
                                        class="studentDetails m-0 py-1 w-100 {{#if (indexIsEven @index)}}row-even{{else}}row-odd{{/if}}">
                                        {{this.year_level}}
                                    </p>
                                </div>
                            </div>
                            {{/each}}
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 ms-5">
                    {{> headerOfficer}}

                    <div class="card card-list-container mt-3">
                        <div class="card-body">
                            <h3 id="selectedLastName" class="m-0 fw-bold"></h3>
                            <p id="selectedFirstName" class="card-text card-small-text student-name-list mb-1 fw-bold">
                            </p>
                            <span id="selectedIDNumber" class="student-id-number-list p-2 fw-bold"></span>
                            <div class="d-flex mt-2 border-bottom border-secondary pb-2">
                                <span id="selectedExemptionStatus" class="student-status-list border px-3 me-2"></span>
                                <span id="selectedActiveStatus" class="student-status-list border px-3"></span>
                            </div>
                            <div class="student-group-list d-flex flex-column mt-3">
                                <div class="student-group-list-details px-2 py-1">
                                    <span
                                        class="card-text card-small-text student-group-list-title px-1">Department</span>
                                    <span id="selectedDepartment" class="fw-bold"></span>
                                </div>
                                <div class="student-group-list-details mt-1 px-2 py-1">
                                    <span class="card-text card-small-text student-group-list-title px-1">Course</span>
                                    <span id="selectedCourse" class="fw-bold"></span>
                                </div>
                                <div class="student-group-list-details mt-1 px-2 py-1">
                                    <span class="card-text card-small-text student-group-list-title px-1">Year</span>
                                    <span id="selectedYearLevel" class="fw-bold"></span>
                                </div>
                                <div class="student-group-list-details mt-1 px-2 py-1">
                                    <span class="card-text card-small-text student-group-list-title px-1">ABO</span>
                                    <span id="selectedABO" class="fw-bold"></span>
                                </div>
                                <div class="student-group-list-details mt-1 px-2 py-1">
                                    <span class="card-text card-small-text student-group-list-title px-1">IBO</span>
                                    <span id="selectedIBO" class="fw-bold"></span>
                                </div>
                            </div>

                            <div class="participation-record-list-group mt-3">
                                <h4 class="card-text card-small-text fw-bold border-bottom border-secondary pb-1">
                                    Participation Record</h4>
                                <div class="participation-record-list">
                                    <div class="participation-record-list-details px-2 py-1">
                                        <span
                                            class="card-text card-small-text participation-record-list-title px-1">School
                                            Year</span>
                                        <span class="fw-bold">2024-2025</span>
                                    </div>
                                    <div class="participation-record-list-details mt-1 px-2 py-1">
                                        <span
                                            class="card-text card-small-text participation-record-list-title px-1">Yearly
                                            Points</span>
                                        <span class="fw-bold">80</span>
                                    </div>
                                    <div class="participation-record-list-details mt-1 px-2 py-1">
                                        <span
                                            class="card-text card-small-text participation-record-list-title px-1">School
                                            Year</span>
                                        <span class="fw-bold">50</span>
                                    </div>
                                </div>
                            </div>
                            <button type="button"
                                class="btn btn-success btn-view-record d-flex justify-content-center w-50 m-auto mt-3">
                                View Record
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    const selectedStudents = {{{ json selectedStudents }}};
</script>
<script src="../js/studentList.js"></script>