<head>
    <link rel="stylesheet" href="../css/spr.css">
</head>

<div class="container-fluid">
    <div class="row flex-nowrap">
        {{> navbar}}

        <div class="col-7 spr-parent-container mt-3 ms-1">
            {{> headerSearch}}

            {{#if student}}

            {{> studentProfile}}

            {{!-- spr table --}}
            <div class="participation-record-table-container mt-4">
                {{!-- attendance table --}}
                <div class="attendance-table-container">
                    <span class="attendance-table-label border px-4 py-2">ATTENDANCE</span>
                    <div class="attendance-table-header d-flex fw-bold mt-3 border-bottom border-2 pb-1">
                        <div class="col-3 ps-2">
                            <span>DATE</span>
                        </div>
                        <div class="col-2">
                            <span>AM</span>
                        </div>
                        <div class="col-3">
                            <span>PM</span>
                        </div>
                        <div class="col-4">
                            <span>OFFICER IN-CHARGE</span>
                        </div>
                    </div>

                    <div
                        class="attendance-table-information d-flex align-items-center border-bottom border-2 mt-3 pb-3">
                        <div class="col-3 ps-2">
                            <span>August 8, 2024</span>
                        </div>
                        <div class="col-2">
                            <div class="form-check form-check-inline ms-2">
                                <input class="form-check-input" type="checkbox" id="attendanceCheckboxAMIN" value="IN">
                                <label class="form-check-label" for="attendanceCheckboxAMIN">IN</label>
                            </div>
                        </div>
                        <div class="col-3">
                            <div class="form-check form-check-inline ms-2">
                                <input class="form-check-input" type="checkbox" id="attendanceCheckboxPMIN" value="IN">
                                <label class="form-check-label" for="attendanceCheckboxPMIN">IN</label>
                            </div>
                            <div class="form-check form-check-inline ms-2">
                                <input class="form-check-input" type="checkbox" id="attendanceCheckboxPMOUT"
                                    value="OUT">
                                <label class="form-check-label" for="attendanceCheckboxPMOUT">OUT</label>
                            </div>
                        </div>
                        <div class="col-4">
                            <span class="officer-in-charge officer-attendance-recorder ps-3">{{adminData.first_name}}
                                {{adminData.last_name}}</span>
                        </div>
                    </div>
                </div>

                {{!-- activity table --}}
                <div class="activity-table-container mt-4">
                    <span class="activity-table-label border px-4 py-2">ACTIVITIES</span>
                    <div class="activity-actions-row d-flex mt-3 w-100">
                        <select name="selectEventDay" id="selectEventDay"
                            class="select-event-day border-gray bg-transparent fw-bold">
                            <option disabled="disabled" selected="selected">Select Day</option>
                            <option value="Day 1">Day 1</option>
                            <option value="Day 2">Day 2</option>
                        </select>
                        <div class="d-flex align-items-center ms-auto">
                            <img src="../img/document-filter.png" alt="Sort" class="ps-2" style="height: 20px;">
                            <select id="sortActivities"
                                class="form-control sort-activities bg-transparent border-0 fw-bold ps-1"
                                name="sortActivities">
                                <option value="" disabled selected>Sort By</option>
                                <option value="Activity" {{#if (eq selectedSort "Activity" )}}selected{{/if}}> Sort By
                                    Activity
                                </option>
                                <option value="Date" {{#if (eq selectedSort "Date" )}}selected{{/if}}>Sort
                                    By Date</option>
                                <option value="Role" {{#if (eq selectedSort "Role" )}}selected{{/if}}>Sort By
                                    Role</option>
                                <option value="Points" {{#if (eq selectedSort "Points" )}}selected{{/if}}>Sort By Points
                                </option>
                            </select>
                        </div>
                        <div class="d-flex justify-content-end">
                            <form class="w-100" id="searchForm">
                                <div class="input-group search-activity-group border border-gray border-3"
                                    style="max-height:2rem;">
                                    <input class="form-control border-0 search-activity-field" type="search"
                                        aria-label="Search" id="searchInput">
                                    <span class="input-group-text border-0">
                                        <img src="../img/search.png" alt="Search">
                                    </span>
                                </div>
                            </form>
                        </div>
                    </div>

                    <div class="activity-table-header d-flex fw-bold mt-3 border-bottom pb-1">
                        <div class="col-4 col-activity-name">
                            <span>ACTIVITY NAME</span>
                        </div>
                        <div class="col-2 ms-4 me-1">
                            <span>DATE</span>
                        </div>
                        <div class="col-3 col-role">
                            <span>ROLE</span>
                        </div>
                        <div class="col-1 ms-4 me-2">
                            <span>POINTS</span>
                        </div>
                        <div class="col-2 officer-activity-recorder-header">
                            <span>OFFICER IN-CHARGE</span>
                        </div>
                    </div>

                    <div class="activity-table-information-container mt-2">
                        <div
                            class="activity-table-information activity-table-information-odd d-flex align-items-center py-2">
                            <div class="col-4 col-activity-name">Dungeon Mayhem: Heroes Battle</div>
                            <div class="col-2 ms-4 me-1">November 4, 2024</div>
                            <div class="col-3 col-role">
                                <select name="assignRole" id="assignRole" class="assign-role ps-2 indiv-participant">
                                    <option disabled="disabled" selected="selected">Assign Role</option>
                                    <option value="INDIV. Participant">INDIV. Participant</option>
                                    <option value="TEAM Participant">Team Participant</option>
                                    <option value="PROG. Spectator">PROG. Spectator</option>
                                    <option value="OTH. Spectator">OTH. Spectator</option>
                                </select>
                            </div>
                            <div class="col-1 ms-4 me-2">15 points</div>
                            <div class="col-2">
                                <span class="officer-in-charge officer-activity-recorder ps-3">{{adminData.first_name}}
                                    {{adminData.last_name}}</span>
                            </div>
                        </div>

                        <div
                            class="activity-table-information activity-table-information-even d-flex align-items-center py-2">
                            <div class="col-4 col-activity-name">Dress to Impress</div>
                            <div class="col-2 ms-4 me-1">November 4, 2024</div>
                            <div class="col-3 col-role">
                                <select name="assignRole" id="assignRole" class="assign-role ps-2 team-participant">
                                    <option disabled="disabled" selected="selected">Assign Role</option>
                                    <option value="INDIV. Participant">INDIV. Participant</option>
                                    <option value="TEAM Participant">Team Participant</option>
                                    <option value="PROG. Spectator">PROG. Spectator</option>
                                    <option value="OTH. Spectator">OTH. Spectator</option>
                                </select>
                            </div>
                            <div class="col-1 ms-4 me-2">20 points</div>
                            <div class="col-2">
                                <span class="officer-in-charge officer-activity-recorder ps-3">{{adminData.first_name}}
                                    {{adminData.last_name}}</span>
                            </div>
                        </div>

                        <div
                            class="activity-table-information activity-table-information-odd d-flex align-items-center py-2">
                            <div class="col-4 col-activity-name">Jigsawlympics</div>
                            <div class="col-2 ms-4 me-1">November 4, 2024</div>
                            <div class="col-3 col-role">
                                <select name="assignRole" id="assignRole" class="assign-role ps-2 prog-spectator">
                                    <option disabled="disabled" selected="selected">Assign Role</option>
                                    <option value="INDIV. Participant">INDIV. Participant</option>
                                    <option value="TEAM Participant">Team Participant</option>
                                    <option value="PROG. Spectator">PROG. Spectator</option>
                                    <option value="OTH. Spectator">OTH. Spectator</option>
                                </select>
                            </div>
                            <div class="col-1 ms-4 me-2">10 points</div>
                            <div class="col-2">
                                <span class="officer-in-charge officer-activity-recorder ps-3">{{adminData.first_name}}
                                    {{adminData.last_name}}</span>
                            </div>
                        </div>

                        <div
                            class="activity-table-information activity-table-information-even d-flex align-items-center py-2">
                            <div class="col-4 col-activity-name">Deal Or No Deal</div>
                            <div class="col-2 ms-4 me-1">November 4, 2024</div>
                            <div class="col-3 col-role">
                                <select name="assignRole" id="assignRole" class="assign-role ps-2 oth-spectator">
                                    <option disabled="disabled" selected="selected">Assign Role</option>
                                    <option value="INDIV. Participant">INDIV. Participant</option>
                                    <option value="TEAM Participant">Team Participant</option>
                                    <option value="PROG. Spectator">PROG. Spectator</option>
                                    <option value="OTH. Spectator">OTH. Spectator</option>
                                </select>
                            </div>
                            <div class="col-1 ms-4 me-2">5 points</div>
                            <div class="col-2">
                                <span class="officer-in-charge officer-activity-recorder ps-3">{{adminData.first_name}}
                                    {{adminData.last_name}}</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            {{else}}
            <p>No student record found.</p>
            {{/if}}
        </div>

        <div class="col col-spr-sidebar mt-3">
            {{> headerOfficer}}

            <div class="sidebar d-flex flex-column">
                {{!-- events --}}
                <div class="events-container p-2">
                    <div class="events-select-actions">
                        {{> selectEventScope}}
                        <div class="timeframe-select d-flex mt-2">
                            <div class="col">
                                <select name="selectYear" id="selectYear"
                                    class="select-year fw-bold border border-black">
                                    <option disabled="disabled" selected="selected">Select Year</option>
                                    <option value="2024">2024-2025</option>
                                    <option value="2025">2025-2026</option>
                                    <option value="2026">2026-2027</option>
                                    <option value="2027">2027-2028</option>
                                </select>
                            </div>
                            <div class="col ms-2">
                                <select name="selectSem" id="selectSem" class="select-sem fw-bold border border-black">
                                    <option disabled="disabled" selected="selected">Select Sem</option>
                                    <option value="1st Sem">1st Sem</option>
                                    <option value="2nd Sem">2nd Sem</option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="events-display-container d-flex flex-column justify-content-center mt-3">
                        <h5 class="fw-bold text-center"><span id="eventScopeLabel"></span></h5>
                        {{#each filteredEvents}}
                        <div class="card event-card mb-1" data-scope="{{this.event_scope}}" style="display:none;">
                            <div class="card-body event-card-body py-2">
                                <span class="card-title fw-bold">{{this.event_name}}</span> <br>
                                <span class="card-text card-event-date">
                                    {{formatDate this.event_date_start}} - {{formatDate this.event_date_end}}
                                </span>
                            </div>
                        </div>
                        {{/each}}
                    </div>
                </div>

                {{!-- import file --}}
                <div class="import-file-container mt-3">
                    <div class="card import-file-card">
                        <div class="card-body import-file-card-body d-flex justify-content-center align-items-center">
                            <img src="../img/import.png" alt="Import File Icon">
                            <span class="px-2 import-file-text">IMPORT FILE</span>
                        </div>
                    </div>
                </div>

                {{!-- points --}}
                <div class="points-container mt-3">
                    <div class="card points-card">
                        <div class="card-body points-card-body">
                            <div class="row d-flex align-items-center justify-content-center">
                                <div class="col d-flex flex-column align-items-center justify-content-center">
                                    <span class="text-center fw-bold activity-subtotal-text">Activity<br>Subtotal</span>
                                    <h3 class="fw-bold mt-2">13</h3>
                                </div>
                                <div class="col-1 d-flex justify-content-center m-0 p-0">
                                    <div class="vl"></div>
                                </div>
                                <div class="col d-flex flex-column align-items-center justify-content-center">
                                    <span
                                        class="text-center fw-bold attendance-subtotal-text">Attendance<br>Subtotal</span>
                                    <h3 class="fw-bold mt-2">13</h3>
                                </div>
                            </div>
                            <div class="row">
                                <button class="btn btn-success btn-verify-points w-75 m-auto mt-1">Verify
                                    Points</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="../js/sprMain.js"></script>