<div class="modal fade" id="importFileModal" tabindex="-1" aria-labelledby="importFileModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content px-3">
            <div class="modal-header border-bottom-0 pb-2">
                <h1 class="modal-title fw-bold fs-3 mt-1" id="importFileModalLabel">Import File</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <div class="modal-body mt-0 pt-0">
                <span>Upload a .csv file of your event attendance tracking records.</span>
                <label for="csvFile" class="w-100" style="cursor: pointer;">
                    <div class="import-file-modal-container text-center mt-3 p-5">
                        <img src="../img/import-file.png" alt="Import File">
                    </div>
                </label>

                <form action="/import/import-csv" method="POST" id="importCsvForm" enctype="multipart/form-data">
                    <input type="hidden" id="adminId" name="admin_id" value="{{adminData.admin_id}}">
                    <input type="hidden" id="studentId" name="id_number" value="{{student.id_number}}">

                    {{#if attendance.length}}
                    {{#each attendance}}
                    <input type="hidden" id="attendanceId_{{this.attendance_day}}"
                        name="attendance_id_{{this.attendance_day}}" value="{{this.attendance_id}}">
                    {{/each}}
                    {{/if}}

                    {{#if activities.length}}
                    {{#each activities}}
                    <input type="hidden" id="activityId_{{this.activity_day}}_{{this.activity_name}}"
                        name="activity_id_{{this.activity_day}}_{{this.activity_name}}" value="{{this.activity_id}}">
                    {{/each}}
                    {{/if}}

                    <!-- Hidden file input field, triggered by clicking the image -->
                    <input type="file" class="form-control" name="csvFile" id="csvFile" accept=".csv"
                        style="display: none;" />
            </div>

            <div class="modal-footer border-top-0 mt-1">
                <button type="submit" class="btn btn-success btn-import-file-submit importBtn px-5">Import</button>
            </div>
            </form>
        </div>
    </div>
</div>